<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>IwaSampleApplicationGAE</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>ch.ood.iwa.IwaContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Iwa Sample GAE</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.GAEApplicationServlet</servlet-class>
		<init-param>
			<description>
			Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>ch.ood.iwa.sample.IwaSampleApplication</param-value>
		</init-param>
		<!-- <init-param>
			<description>
			Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>ch.ood.iwa.sample.widgetset.IwasampleapplicationgaeWidgetset</param-value>
		</init-param> -->
	</servlet>
	<servlet>
		<servlet-name>I18NServlet</servlet-name>
		<servlet-class>org.vaadin.appfoundation.i18n.InternationalizationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>	
	<servlet>
		<servlet-name>TrackingServer</servlet-name>
		<servlet-class>com.fifthfloor.gps.server.TrackingServer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Iwa Sample GAE</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>I18NServlet</servlet-name>
		<url-pattern>/I18NServlet/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>TrackingServer</servlet-name>
		<url-pattern>/cron/track</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	

    
</web-app>
