<table width="100%" height="100%" border="0">	
	<tr>
		<td>
			<div location="lblPersons" class="label"></div>						
		</td>						
	</tr>
	<tr class="dividingRow">
		<td colspan="2"/>			
	</tr>
	<tr/>
		<td colspan="2"	>			
			<div location="tblPersons"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<br/>			
		</td>
	</tr>	
	<tr>
		<td>			
			<div location="btnNewPerson"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<div location="frmPersons"></div>			
		</td>
	</tr>
	<tr class="spacingRow">
		<td colspan="2"/>			
	</tr>	
	<tr>
		<td>
			<div location="lblEngagements" class="label"></div>						
		</td>						
	</tr>
	<tr class="dividingRow">
		<td colspan="2"/>			
	</tr>
	<tr>
		<td>			
			<div location="tblEngagements"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<br/>			
		</td>
	</tr>		
	<tr>
		<td>			
			<div location="btnNewEngagement"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<div location="frmEngagements"></div>			
		</td>
	</tr>	
</table>