<table width="100%" height="100%" border="0">	
	<tr>
		<td>
			<div location="lblPermissions" class="label"></div>						
		</td>						
	</tr>
	<tr class="dividingRow">
		<td colspan="2"/>			
	</tr>
	<tr/>
		<td colspan="2"	>			
			<div location="tblPermissions"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<br/>			
		</td>
	</tr>		
	<tr>
		<td>			
			<div location="btnNew"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<div location="frmPermissions"></div>			
		</td>
	</tr>
	<tr class="spacingRow">
		<td colspan="2"/>			
	</tr>	
	<tr class="spacingRow">
		<td colspan="2"/>			
	</tr>	
	<tr>
		<td>
			<div location="lblRoles" class="label"></div>						
		</td>						
	</tr>
	<tr class="dividingRow">
		<td colspan="2"/>			
	</tr>
	<tr>
		<td>			
			<div location=""></div>			
		</td>
	</tr>	
	<tr>
		<td>			
			<div location="frmRoles"></div>			
		</td>
	</tr>	
</table>