<table width="100%" height="100%" border="0">	
	<tr>
		<td>
			<div location="label" class="label"></div>						
		</td>						
	</tr>
	<tr class="dividingRow">
		<td colspan="2"/>			
	</tr>
	<tr/>
		<td colspan="2"	>			
			<div location="table"></div>			
		</td>
	</tr>
	<tr>
		<td>			
			<br/>			
		</td>
	</tr>		
	<tr>
		<td>			
			<div location="btnNew"></div>			
		</td>
	</tr>
	<tr>
		<td width="600px">			
			<div location="form"></div>			
		</td>
		<td/>
	</tr>	
</table>